<footer class="site-footer">
    <div class="grid-container text-center padding-top-2 padding-bottom-2">
        <div>All rights reserved by mruby org 2022</div>
    </div>
</footer>

<script src="{{ site.url }}{{ '/assets/foundation/js/jquery.min.js'}}"></script>
<script src="{{ site.url }}{{ '/assets/foundation/js/what-input.min.js'}}"></script>
<script src="{{ site.url }}{{ '/assets/foundation/js/foundation.min.js'}}"></script>
<script src="{{ site.url }}{{ '/assets/foundation/js/app.js'}}"></script>
