<header class="site-header">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      
      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">mRuby</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Topics</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Libraries</a></li>
            <li><a href="#">Get Started</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
</header>
